/*
COLOR PALETTE:
Primary: #264653
Secondary: #2A9D8F
Accent: #E9C46A
Background: #F4F1DE
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth; 
}

body {
    background: #F4F1DE;
    color: #264653;
}


header {
    background: #264653;
    color: white;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #E9C46A;
}


.hero {
    text-align: center;
    padding: 100px 20px 60px; 
}


.profile {
    width: 250px;
    height: 270px;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 20px;
    border: 4px solid #2A9D8F;
}

section {
    padding: 60px 20px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.project-card {
    background: #E9C46A;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}


#project-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
}


.modal-content {
    background: white;
    padding: 20px;
    width: 500%;
    max-width:500px;
    margin: 10% auto;
    border-radius: 10px;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 30px;
}
footer {
    background: #264653;
    color: white;
    text-align: center;
    padding: 20px;
}
#contact {
    text-align: center;
}

#contact form {
    max-width: 400px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact input,
#contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact button {
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#contact button:hover {
    background: #264653;
}
.contact-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/* SOCIAL LINKS */
.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-links h3 {
    margin-bottom: 15px;
}

.social-links a {
    font-size: 40px;
    margin: 10px;
    color: #264653;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
    color: #2A9D8F;
}
#contact form {
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    margin: auto; 
}
#contact input,
#contact textarea {
    width: 100%;
}

#about {
    background: #264653;        
    color: white;               
    border: 3px solid #2A9D8F;  
    border-radius: 15px;
    max-width: 900px;
    margin: 60px auto;        
    padding: 40px 30px;
}

#about h2 {
    color: #E9C46A;           
    text-align: center;
    margin-bottom: 20px;
}

#about p {
    line-height: 1.7;
    font-size: 16px;
    text-align: justify;
}


#about2 {
    background: #264653;        
    color: white;               
    border: 3px solid #2A9D8F;  
    border-radius: 15px;
    max-width: 900px;
    margin: 60px auto;        
    padding: 40px 30px;
    text-align: center;
}

#about2 h2 {
    color: #E9C46A;           
    text-align: center;
    margin-bottom: 20px;
}

#about2 p {
    line-height: 1.7;
    font-size: 16px;
    text-align: center;
}
